<!DOCTYPE html>
<html>
<head>
    <title>Create Mix</title>
    <script src="/js/site.js"></script>
    <link href="/css/site.css" rel="Stylesheet" />
</head>
<body>


    <h5 style="margin-bottom:40px;">Last Updated: 11/22/2023</h5>

    <h5 class="privacy">Welcome To Serenenity Soundscape</h5>


    <p>We respect your privacy and are committed to protecting it through this Privacy Policy.</p>

    <h6 class="privacy">Information We Collect</h6>

    <p>We do not collect any personal information from our users. The only information we may collect is non-personal information such as browser type, operating system, and the date and time of each visitor request. This information is used for statistical purposes and to help us improve the functionality and content of the site.</p>

    <h6 class ="privacy">Media Usage Policy</h6>

    <p>All media content, including but not limited to images, audio files, and other multimedia elements (collectively referred to as "Media") hosted on this website is licensed under Creative Commons and is free to use without attribution. You are granted the right to download, modify, and use the Media for personal and commercial purposes without seeking permission or providing credit to the source.</p>

    <h6 class="privacy">External Links</h6>

    <p>This website may contain links to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites and cannot accept responsibility or liability for their respective privacy policies.</p>

    <h6 class="privacy">Children's Privacy</h6>

    <p>Our website is not intended for children under the age of 13. We do not knowingly collect personal information from children under 13. If you are a parent or guardian and believe that your child has provided us with personal information, please contact us so that we can take the necessary steps to remove such information.</p>

    <h6 class="privacy">Changes to This Privacy Policy</h6>

    <p>We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately after they are posted on this page.</p>

    <h6 class="privacy">Contact Us</h6>

    <p>If you have any questions or suggestions about our Privacy Policy, please contact us at serenitysoundscape@mail.com.</p>

    <p>By using this website, you agree to the terms and conditions of this Privacy Policy.</p>

</body>
</html>
